<h2>Visit us</h2>
<h4>Here your can sign up</h4>
</br>
<h4>You can choose your own barber from this list.</h4>

<table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Barber's Name</th>
          <th>Cuts men or women</th>
          <th>Business hours</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Walter</td>
          <td>Mens</td>
          <td>Everyday 12.00-20.00</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jessie</td>
          <td>Wоmans</td>
          <td>Mon-Fri 15.00-22.00</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry_Little_Bitch</td>
          <td>LGBT</td>
          <td>Tue-Sun 10.00-15.00</td>
        </tr>
      </tbody>
</table>

    <h4>Come on. Lets do it!!!</h4>
<p><font color=green><%= @answer %></font></p>
<form action="/" method="POST">    
    <div class="row">
      <div class="col-xs-6">
        <label>Enter your name</label>
        <input type="text" class="form-control" name="enter_name" placeholder="Enter your name" value="<%= @name %>">
      </div>
      <div class="col-xs-6">
        <label>Enter your phone number</label>
        <input type="text" class="form-control" name="phone" placeholder="X-(XXX)-XXX-XX-XX" value="<%= @phone %>">
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-xs-6">
        <label>Choose your day and time visit</label>
        </br>
        <input class="form-control" placeholder="Enter your date and time" id="datetimepicker" type="text" name="date" value="<%= @visit_daytime %>">
      </select>
    </div>
      <div class="col-xs-6">
       <label>Choose your barber</label> 
        <select class="form-control" name="barber" >
          <% @barber_name.each do |item| %>
            <option <%= @barber == item['Barber'] ? 'selected' : '' %>><%= item['Barber'] %></option>
          <% end %>
        </select>
      </div>
    </div>
    </br>
    <center>
    <div class="form-group">
      <label>Choose your color for dyeing hair   </label>
    <select id="color" name="color">
        <option value="#7bd148">Green</option>
      <option value="#5484ed">Bold blue</option>
      <option value="#a4bdfc">Blue</option>
      <option value="#46d6db">Turquoise</option>
      <option value="#7ae7bf">Light green</option>
      <option value="#51b749">Bold green</option>
      <option value="#fbd75b">Yellow</option>
      <option value="#ffb878">Orange</option>
      <option value="#ff887c">Red</option>
      <option value="#dc2127">Bold red</option>
      <option value="#dbadff">Purple</option>
      <option value="#e1e1e1">Gray</option>
    </select>
  </div>
  </center> 

  

   </br>
    <center>
      <p>
        <button type="submit" class="btn btn-primary btn-lg">Sing in</button>
      </p>
    </center>
</form>

<script type="text/javascript">
  $(function(){
    $('#color').simplecolorpicker();
    $('#datetimepicker').datetimepicker({
       minTime:'10:00',
       maxTime:'22:00'
    });
  });
</script>

